<div class="card mb-4 shadow-sm" style="width: 100%; border-radius: 10px; overflow: hidden; position: relative;">
  <img src="{{member().photoUrl}}" class="card-img-top" alt="Profile Image" style="height: 200px; object-fit: cover;">
  <div class="card-body" style="background-color: #f8f9fa;">
    <h6 class="card-title" style="font-weight: bold; color: #343a40;">{{ member().knownAs }}</h6>
    <p class="card-text" style="color: #6c757d;">Age: {{ member().age }}</p>
    <p class="card-text" style="color: #6c757d;">City: {{ member().city }}</p>
  </div>
  <button routerLink="/members/{{member().userName}}"
          class="btn btn-primary detail-button"
          style="position: absolute; bottom: 10px; right: 10px; display: block;">
    Detail
  </button>
</div>

